.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
}

.card {
  padding: 0.5rem;
}

.button {
  direction: ltr;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
