.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .btn {
  background: #c9c9c9;
  border: none;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}

.main .btn:hover {
  background: #a0a0a0;
}

.main .btn a {
  color: #555555;
  font-weight: bold;
}

.main .btn a:hover {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  padding: 0.5rem;
}
