.cards {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
}

.card {
  padding: 0.5rem;
}

.button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
